mixin Footer 
  footer.bg-primary.pt-11.pt-md-12.pt-lg-14.pb-11.position-relative.overflow-hidden.z-0 
    .container 
      .row.justify-content-center 
        .col-10.col-lg-5.text-center(style="max-width: 28.313rem;")  
          h5.text-white.mb-0.footer-title Don't Miss it out! 
          p.text-white.mb-4.mb-md-5.mb-lg-6.footer-description Buy this discount bundle &amp; 
            br.d-md-none
            | save $1828
          a(href="#!").text-decoration   
            button.btn.btn-success.px-4.py-2.px-md-5.py-md-4 Get the deal 
    .position-absolute.start-0.end-0.z-n1(style="bottom: -2px;")
      img.object-fit-cover.img-fluid(src=`${CWD}assets/img/shape.svg`, alt="")
    .position-absolute.start-0.end-0.z-n1(style="top: -4px")
      img.img-fluid.object-fit-cover(src=`${CWD}assets/img/wave.svg`, alt="" style="transform: rotate(-180deg)")