append variables
  - var title = 'Showcase | 22 HTML5 & React Templates';
  - var theme = `${name}-${version}`;
  - var bootstrapVersion = '5.0';
  - var attrsMain = { id: 'top', class: 'main' };
  - var attrsLayout = { class: 'container', 'data-layout': ENV === 'PROD' ? 'container' : false }
  - var colors = ['primary', 'secondary', 'success', 'info', 'warning', 'danger', 'light', 'dark'];
  - var grays = ['black', 1100, 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100, 'white'];
  - var colorsAll = colors.concat(grays);
  - var footer = true;
  - var currentPage = 'index'
  - 
    var templates = [
      {
        thumb: 'slick.webp',
        title: 'slick',
        link: 'https://prium.github.io/slick/',
        subtitle: 'Drag & Drop Bootstrap Template Generator',
      },
      {
        thumb: 'posh.gif',
        title: 'posh',
        link: 'https://prium.github.io/tryposh/',
        subtitle: 'A Revolutionary New Way of Creatin Websites'
      },
      {
        thumb: 'freya.webp',
        title: 'Freya',
        link: 'https://prium.github.io/freya/',
        subtitle: 'Interior Design Agency Template'
      },
      {
        thumb: 'nirvana.webp',
        title: 'nirvana',
        link: 'https://prium.github.io/nirvana/',
        subtitle: 'Interactive Bootstrap 4 Template'
      },
      {
        thumb: 'hideaway.webp',
        title: 'hideaway',
        link: 'https://prium.github.io/hideaway/',
        subtitle: 'Luxury Inn & HTML5 Website Template'
      },

      {
        thumb: 'baikal.webp',
        title: 'Baikal',
        link: 'https://prium.github.io/Baikal-v2/index.html',
        subtitle: 'HTML5 Bootstrap 4 Template for Startups & Business website'
      },
      {
        thumb: 'shape.webp',
        title: 'Shape',
        link: 'https://prium.github.io/Shape/',
        subtitle: 'Bootstrap 4 mobile and web app landing page template'
      },
      {
        thumb: 'boots4.webp',
        title: 'Boots4',
        link: 'https://prium.github.io/Boots4/',
        subtitle: 'First-Ever Bootstrap 4 Template'
      },
      {
        thumb: 'thumbgrid.webp',
        title: 'Grid',
        link: 'https://prium.github.io/grid/',
        subtitle: 'Grid is a beautifully created professional theme with the latest trend.'
      },
      {
        thumb: 'restaurant2.webp',
        title: 'resturant pro',
        link: 'https://themewagon.gitlab.io/restaurant/',
        subtitle: 'Elegant Resturant website Template'
      },
      {
        thumb: 'spin-1.webp',
        title: 'Spin',
        link: 'https://themewagon.gitlab.io/spin/',
        subtitle: 'Premium Quality high-performing landing HTML5 Template'
      },
      {
        thumb: 'raven-pro.webp',
        title: 'Raven pro',
        link: 'https://themewagon.gitlab.io/raven/',
        subtitle: 'Responsive Bootstrap 4 Legal Agency Website Template'
      },
      {
        thumb: 'medicare1.webp',
        title: 'Medicare',
        link: 'https://themewagon.gitlab.io/medicare/',
        subtitle: 'Medical Hospital Responsive Templates with HTML5 and Bootstrap4'
      },
      {
        thumb: 'conference-ii.webp',
        title: 'Conference Pro',
        link: 'https://prium.github.io/conference/',
        subtitle: 'Responsive Event Planning HTML5 Template'
      },
      {
        thumb: 'reign-iv.webp',
        title: 'reign pro',
        link: 'https://prium.github.io/reign-IV/',
        subtitle: 'Premium Corporate Agency HTML5 Template'
      },
      {
        thumb: 'elixir.webp',
        title: 'elixir',
        link: 'https://prium.github.io/elixir/',
        subtitle: 'HTML5 Bootstrap4 template for Agency Website'
      },
    ];
