append variables 
  -
    var background={
        "image":`${CWD}assets/img/header_bg.svg`,
        "className": 'bg-header'
    }

mixin HeroHeader
  +Section('container-fluid').position-relative.py-0.overflow-hidden
    +Background(background)
      .container.overflow-hidden.text-center.z-index-1.banner-section.px-0.position-static
        img.mb-6.mb-md-8.mb-lg-10.logo(src=`${CWD}assets/img/themewagon-logo.png`  alt="")
        .d-flex.align-items-center.align-items-sm-start.justify-content-center.gap-2.gap-md-4
          h1.text-white.count.mb-0.font-bebas.font-normal 22
          div
            h3.text-success.font-bebas.text-uppercase.title.fw-normal.mb-0.text-nowrap
              | HTML5 
              span.text-white &amp; 
              | React
              br 
            h2.text-white.template.fw-normal.font-bebas.mb-0 Templates
        p.fs-0.fs-md-1.fs-xl-2.text-white.mb-0.mb-4.mb-md-7.mb-lg-10.description Supercharge your project with intuitive 
          br.d-sm-none
          |  UX/cleaner code   
        a.text-decoration(href="https://themewagon.com/themes/bundle-v2/")
          button.btn.btn-success.px-6.py-2.px-md-13.py-md-4 Purchase now 
    .position-absolute.bottom-0.start-0.end-0.z-n1
      img.img-fluid.object-fit-cover(src=`${CWD}assets/img/shape.svg`, alt="")
    .position-absolute.start-0.end-0.wave
      img.img-fluid.object-fit-cover(src=`${CWD}assets/img/wave.svg`, alt="")







