@use 'sass:string';

/*-----------------------------------------------
|   Button
-----------------------------------------------*/


/*-----------------------------------------------
|   creative-bundle buttons
-----------------------------------------------*/
$theme-creative-bundle-btn-colors: (
  "primary": var(--#{$prefix}primary),
  "success": var(--#{$prefix}success),
  "info": var(--#{$prefix}info),
  "warning": var(--#{$prefix}warning),
  "danger": var(--#{$prefix}danger),
);

@each $color,
$value in $theme-creative-bundle-btn-colors {
  .btn-creative-bundle-#{$color} {
    @include creative-bundle-button-variant($color);
  }
}

@each $color, $value in $button-colors {
  $hover-background: map-get($theme-hover-colors, $color);
  .btn-#{$color}{
    @include button-variant(
      $background: $value,
      $border: $value,
      $hover-background: $hover-background,
      $hover-border: $hover-background,
    )
  }
}


/*-----------------------------------------------
|   Brand Buttons                               |
-----------------------------------------------*/

.btn-facebook {
  @include brand-icon-variant($facebook);
}

.btn-twitter {
  @include brand-icon-variant($twitter);
}
.btn-google-plus{
  @include brand-icon-variant($google-plus);
}

.btn-github{
  @include brand-icon-variant($github);
}
/*-----------------------------------------------
|   Outline Buttons
-----------------------------------------------*/
[class*='btn-outline-'] {
  --#{$prefix}btn-box-shadow: none;
  --#{$prefix}btn-border-width: 2px; 
}
.btn-outline-primary { @include button-outline-variant(map-get($theme-colors, primary)); }
.btn-outline-info { @include button-outline-variant(map-get($theme-colors, info)); }
.btn-outline-success { @include button-outline-variant(map-get($theme-colors, success)); }
.btn-outline-warning { @include button-outline-variant(map-get($theme-colors, warning)); }
.btn-outline-danger { @include button-outline-variant(map-get($theme-colors, danger)); }
.btn-outline-white { 
    @include button-outline-variant($white);
    &:hover, &:active, &:focus, &:active:focus { color: $gray-1100 }
}




.btn {
  white-space: nowrap;
  &.btn-success{
    color: var(--#{$prefix}primary);
  }
}


.btn-link {
  --#{$prefix}btn-font-weight: #{$font-weight-semi-bold};
  --#{$prefix}btn-active-color: var(--#{$prefix}link-hover-color);

}

// disabled btn box shadow
.btn {
  &:disabled {
    @include box-shadow(var(--#{$prefix}btn-box-shadow));
  }
}
