.banner-section {
  .logo {
    @include media-breakpoint-down(sm){
      width: 40%;
    }
  }
  .count{
    font-size: 6.5rem;
    line-height: 0.85;
    @include media-breakpoint-up(sm){
      font-size: 10.5rem;
    }
    @include media-breakpoint-up(md){
      font-size: 15rem;
    }

    @include media-breakpoint-up(xl){
      font-size: 22rem;
    }
  }
  .title {
    font-size: 2.5rem;
    @include media-breakpoint-up(sm){
      font-size: 3.8rem;
      line-height: 0.93;
    }
    @include media-breakpoint-up(md){
      font-size: 6rem;
      line-height: 0.9;
    }
    @include media-breakpoint-up(xl){
      font-size: 8.533rem;
    }
  }
  .template{
    font-size: 3.5rem;
    @include media-breakpoint-up(sm){
      font-size: 5.1rem;
    }
    @include media-breakpoint-up(md){
      font-size: 8.1rem;
      line-height: 0.85;
    }
    @include media-breakpoint-up(xl){
      font-size: 11.625rem;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .description {
    padding: 0 8px;
    @include media-breakpoint-up(sm){
      letter-spacing: 0.01em;
    }
    @include media-breakpoint-up(md){
      letter-spacing: 0.033em;
      padding: 0 4px;
    }
    @include media-breakpoint-up(xl){
      letter-spacing: 0.038em;
      line-height: 1;
    }
  }
}
.wave {
  bottom: -2px;
}

.footer-title{
  font-size: 2rem;
  @include media-breakpoint-up(md){
    font-size: 2.5rem;
    letter-spacing: 0.08em;
  }
  @include media-breakpoint-up(xl){
    letter-spacing: 0.04em;
    font-size: 3rem;
  }

}
.footer-description{
  font-size: 1.12rem;
  padding: 0 5px;
  letter-spacing: 0.03em;
  @include media-breakpoint-up(md){
    font-size: 1.2rem;
    letter-spacing: 0em;
  }
  @include media-breakpoint-up(xl){
    font-size: 1.3125rem;
  }
}

.text-decoration:hover{
  text-decoration: none !important;
}