.banner-section {
  font-size: 8px;
  .logo {
    max-height: 3.159rem;
    @include media-breakpoint-down(sm){
      width: 40%;
    }
  }
  .text-image{
    max-height: 16.625rem;
  }
  .description {
    margin-top: 0.5rem;
    font-size: 0.82rem;
    @include media-breakpoint-up(sm){
      letter-spacing: 0.005em;
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(md){
      letter-spacing: 0.01em;
      font-size: 1.7rem;
    }
    @include media-breakpoint-up(lg){
      padding-left: 6px;
      letter-spacing: 0.029em;
      font-size: 1.81rem;
    }
  }
}
.wave {
  bottom: -10px;
}

.footer-title{
  font-size: 2rem;
  @include media-breakpoint-up(md){
    font-size: 2.5rem;
    letter-spacing: 0.08em;
  }
  @include media-breakpoint-up(xl){
    letter-spacing: 0.04em;
    font-size: 3rem;
  }

}
.footer-description{
  font-size: 1.12rem;
  padding: 0 5px;
  letter-spacing: 0.03em;
  @include media-breakpoint-up(md){
    font-size: 1.2rem;
    letter-spacing: 0em;
  }
  @include media-breakpoint-up(xl){
    margin-bottom: 2rem;
    font-size: 1.3125rem;
  }
}

.text-decoration:hover{
  text-decoration: none !important;
}
.list-bullet{
  width: 0.325rem;
  height: 0.325rem;
  border-radius: 50%;
  background-color: var(--#{$prefix}success);
  margin-right: 0.5rem;

  @include media-breakpoint-up(md){
    width: 0.625rem;
    height: 0.625rem;
  }
}

.footer{
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media-breakpoint-up(md){
    padding-top: 5.969rem;
    padding-bottom: 5.969rem;
  }
}