
[data-dismiss="dropdown"],
[data-bs-offset-top],
[data-bs-toggle="collapse"],
[data-bs-toggle="tooltip"],
[data-bs-toggle="popover"] {
  * {
    pointer-events: none;
  }
}


/* -------------------------------------------------------------------------- */
/*                                    Height                                  */
/* -------------------------------------------------------------------------- */
.content {
  min-height: 100vh;
  position: relative;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}


/*-----------------------------------------------
|   Object fit and Z-index
-----------------------------------------------*/
.fit-cover{ object-fit: cover; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2 !important; }
.z-index--1{ z-index: -1; }


/* -------------------------------------------------------------------------- */
/*                                    Width                                   */
/* -------------------------------------------------------------------------- */

.min-w-0{ min-width: 0; }


.banner-section{
  padding-top: 4rem;
  padding-bottom: 8rem;
  @include media-breakpoint-up(md){
    padding-top: 6rem;
    padding-bottom: 12.6rem;
    max-width: 44rem;
  }
  @include media-breakpoint-up(xl){
    padding-top: 7rem;
    max-width: 61rem;
  }
}