/* -------------------------------------------------------------------------- */
/*                                 Navbar Top                                 */
/* -------------------------------------------------------------------------- */


.navbar-top {
  background-color: transparent;
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.01em;
  border-radius: var(--#{$prefix}border-radius-sm);
  transition: all .2s ease-in-out;
  line-height: var(--#{$prefix}line-height-xl);
  z-index: 1020;
  width: 100%;

  & + .content{
    min-height: calc(100vh - $top-nav-height);
  }
  .navbar-nav-top{
    .dropdown{
      position: relative;
      .navbar-dropdown-caret::after {
        content: '';
        position: absolute;
        top: -0.8rem;
        right: 0;
        height: 1rem;
        width: 100%;
        background-color: transparent;
      }
      @include hover-focus{
        background-color: transparent;
        color: var(--#{$prefix}gray-100) !important;
      }
    }
    .dropdown-toggle::after{
      display: none;
    }
    .dropdown-menu{
      background-color: var(--#{$prefix}gray-1100);
      min-width: 16.875rem;
      padding: 0.4rem 0;
      padding-left: 1.2rem;
      margin-right: 1.2rem;
      border-color: transparent;
      box-shadow: none;
      @include hover-focus{
        background-color: var(--#{$prefix}gray-1100);
      }
      @include media-breakpoint-up(lg){
        &{
          padding: 1.2rem 0;
          margin-right: 0;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
          transform: translateX(-20%);
        }
      }
    }
    @include media-breakpoint-down(lg){
      padding-left: 1.8rem;
      padding-right: 1rem;
      background-color: var(--#{$prefix}gray-1100);

      .navbar-nav{
        padding: 1.2rem 0;

        li {
          .btn{
            width: 100%;
          }
        }
        &.navbar-span-right{
          li {
            a:not(.btn){
              margin-left: -1.2rem;
            }
          }
        }
      }
    }
  }

  .navbar-collapse {
    overflow: auto;
    max-height: calc(100vh - #{$top-nav-height});
    flex: 1 0 100%;
    order: 1;
  }
  .navbar-toggler {
    margin-left: -0.625rem;
  }
}


.navbar-toggler {
  border: 0;
  padding: 0;
}
.navbar-top,
.navbar-standard {
  .navbar-nav:not(.navbar-nav-icons) {
    .dropdown-menu {
      font-size: map_get($font-sizes, 10);
      border-radius: $border-radius-sm;
      .dropdown-item {
        cursor: pointer;
      }
      &:after {
        display: none;
      }
    }
  }
}

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint) {
    .navbar-expand-#{$breakpoint} {
      &.navbar-top {
        .navbar-collapse {
          max-height: none;
          margin: 0;
          padding: 0;
          order: 0;
          flex: 0 1 auto;
        }
      }
      &.navbar {
        .max-h-dropdown {
          max-height: 75vh;
        }
      }
      &.navbar-standard {
        .navbar-collapse {
          max-height: none;
        }
      }
      &.navbar-top,
      &.navbar-standard {
        .navbar-nav:not(.navbar-nav-icons) {
          .dropdown-menu {
            &:after {
              display: block;
            }
          }
        }
      }
      
    }

    .navbar.navbar-expand-#{$breakpoint} {
      &:not(.navbar-vertical) {
        .navbar-collapse {
          overflow: visible !important;
        }
      }
    }
  }
}

