@for $i from 1 through 4 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.list-inside{
  list-style-position: inside;
  & li::marker{
    margin-right: 8px
  }
}

.list-no-disc {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}